button.btn{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
    
    &.green{
        border: 1px solid $green-color;        
        color: $green-color;

        &:hover,&:focus{
            background-color: $green-color;
            color: $white-color;
        }
    }
    &.blue{
        border: 1px solid $blue-color;        
        color: $blue-color;

        &:hover,&:focus{
            background-color: $blue-color;
            color: $white-color;
        }
    }
}