
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
    width: 100vw;
    height: auto; 
    margin: 0px;
    padding: 48px 150px;
    background-color: $blue-color;
    color: $white-color;
    
    @media only screen and (max-width: 1480px) {
        padding: 48px 120px;
       
    }
    @media only screen and (max-width: 1375px) {
        padding: 48px 100px;
       
    }
    @media only screen and (max-width: 1335px) {
        padding: 48px 80px;
       
    }
    @media only screen and (max-width: 880px) {
        padding: 48px 48px;
       
    }
    @media only screen and (max-width: 420px) {
        padding: 48px 24px;
       
    }

    div.upper{
        border-bottom: 1px solid $white-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 48px;

        @media only screen and (max-width: 1054px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        article{
            &:not(:last-child){
                margin-right: 80px;
                
                @media only screen and (max-width: 1335px) {
                    margin-right: 60px;                   
                }
                @media only screen and (max-width: 1220px) {
                    margin-right: 20px;                   
                }
                @media only screen and (max-width: 1054px) {
                    margin-right: 0px; 
                    margin-bottom: 36px; 
                }
            }

            &:nth-child(1){
                flex-basis: 30%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                @media only screen and (max-width: 1135px) {
                    flex-basis: 25%;
                }
                @media only screen and (max-width: 1054px) {
                    flex-basis: 100%;
                    align-items: center;
                    margin-bottom: 48px;
                }
                img{
                    margin-bottom: 48px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                    @media only screen and (max-width: 1054px) {
                        align-items: center;
                    }
                    p{
                        font-family: $font-family-1;
                        font-size: 15px;
                        font-weight: 300;
                        letter-spacing: 0.6px;
                        color: $white-color;

                        @media only screen and (max-width: 1054px) {
                            text-align: center;
                        }

                        &:not(:last-child){
                            margin-bottom: 8px;
                        }
                    }
                }
            }

          
            &:nth-child(2),&:nth-child(3){
                flex-basis: 22.5%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            

                nav{
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        @media only screen and (max-width: 1054px) {
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                        }
                        @media only screen and (max-width: 880px) {
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                        }
                        li{
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            &:not(:last-child){
                                margin-right: 24px;
                                
                                @media only screen and (max-width: 940px) {
                                    margin-right: 18px;
                                }
                                @media only screen and (max-width: 880px) {
                                    margin-right: 0px;
                                    margin-bottom: 24px;
                                }
                            }
                            
                            a{
                                color: $white-color;
                                font-family: $font-family-1;
                                font-size: 12px;
                                font-weight: 300;
                                letter-spacing: 1px;
                                text-decoration: none;
                                text-transform: uppercase;
                                transition: all .1s linear;
                                
                                @media only screen and (max-width: 880px) {
                                    text-align: center;
                                }

                                &:hover,&:focus{
                                    text-shadow: 0.7px 0px white;
                                }
                                a:active{
                                    text-shadow: 0.7px 0px white;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                margin-right: 0px;
                @media only screen and (max-width: 1220px) {
                    flex-basis: 20%;
                }
                @media only screen and (max-width: 1135px) {
                    flex-basis: 15%;
                }
                @media only screen and (max-width: 1054px) {
                    flex-basis: 100%;
                }
            }
            
            &:nth-child(3){
                margin-right: 160px;
                @media only screen and (max-width: 1335px) {
                    margin-right: 100px;                   
                }
                @media only screen and (max-width: 1220px) {
                    margin-right: 80px;                   
                }
                @media only screen and (max-width: 1135px) {
                    margin-right: 60px;                   
                }
                @media only screen and (max-width: 1054px) {
                    margin-right: 0px; 
                    margin-bottom: 36px; 
                }
                @media only screen and (max-width: 1054px) {
                    flex-basis: 100%;
                    margin-bottom: 48px;
                }
            }
            &:nth-child(4){
                flex-basis: 25%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                @media only screen and (max-width: 1054px) {
                    flex-basis: 100%;
                    align-items: center;
                }
                p.follow-us{
                    font-family: $font-family-1;
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $white-color;
                    margin-bottom: 36px;
                }
                
                div.social-icons{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 36px;
                    a{
                        text-decoration: none;
                        width: 40px;
                        height: 40px;
                        background-color: $white-color;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: all .2s ease;
                        
                        &:not(:last-child){
                            margin-right: 14px;
                        }

                        &:hover,&:focus{
                            box-shadow: 0 4px 16px 0px rgba($white-color, 0.3);
                        }
                    }
                }

                p{
                    font-family: $font-family-1;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.6px;
                    color: $white-color;
                }

            }
            
            
        }
    }

    div.lower{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;

        @media only screen and (max-width: 940px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        
        p{
            font-family: $font-family-1;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 0.6px;
            color: $white-color;

            @media only screen and (max-width: 880px) {
                text-align: center;
            }
            &:not(:last-child){
                @media only screen and (max-width: 940px) {
                    margin-bottom: 24px;
                }
            }
        }

    }

    // border: $border-check-2;
    // display: flex;

    
    // @media only screen and (max-width: 1260px) {
    //   padding: 60px 50px 20px 50px;
    // }

}



/* MEDIA QUERIES STARTS */
/* 1160px */
// @media only screen and (max-width: 1160px) {
//     footer.big-screen {
//        display: none;
//      }
//     footer.small-screen {
//        display: block;
//      }
//  }
// /* 1161px */
// @media only screen and (min-width: 1161px) {
//      footer.big-screen {
//         display: block;
//       }
//      footer.small-screen {
//         display: none;
//       }
//  }
 /* MEDIA QUERIES ENDS */