
/* HEADER FOR BIG SCREENS */
header.big-screen {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $green-color;
    color: $white-color;

    // display: flex;
    width: 100vw;
    height: 220px;
    z-index: 9999;
    padding: 0px 0px;
    // border: $border-check-1;
    // @media only screen and (max-width: 1260px) {
    //   padding: 40px 50px;
    // }
  

    div.upper{
      padding: 0 0px;
      border-bottom: 1px solid rgba($white-color,0.5);
      nav{
        ul{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          li{
            list-style: none;
            padding: 12px 30px;
            color: $white-color;
            font-family: $font-family-1;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            transition: all .1s linear;
            
            @media only screen and (max-width: 1320px) {
              padding: 12px 24px;
           }
            @media only screen and (max-width: 1220px) {
              padding: 12px 18px;
            }
            span{
              margin-right: 12px;
            }
            
            a{
              transition: all .1s linear;
              border: none;
              outline: none;
              text-decoration: none;
              color: $white-color;
              font-family: $font-family-1;
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              height: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              
            }
            
            
            &.weather{
              border-left: 1px solid rgba($white-color,0.5);
              cursor: pointer;
              span{
                margin-left: 12px;
                margin-right: 0px;
              }
            }
            &.languages{
              border-left: 1px solid rgba($white-color,0.5);
              cursor: pointer;
              span{
                margin-left: 12px;
                margin-right: 0px;
              }
            }
            &.search{
              border-left: 1px solid rgba($white-color,0.5);

              form{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;

                input{
                  height: 100%;
                  background-color: $green-color;
                  border: none;
                  outline: none;
                  color: $white-color;
                  text-transform: uppercase;
                  letter-spacing: 0.5px;
                  font-family: $font-family-1;
                  font-size: 14px;
                  font-weight: 300;
                  // border: 1px solid black;
                  width: 150px;
                      
                  &::placeholder{
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: $white-color;
                    font-family: $font-family-1;
                    font-size: 14px;
                    font-weight: 300;
                  }

                  &::-webkit-search-cancel-button{
                    display: none;
                  }
                }

                button{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 50%;
                  right: -6px;
                  transform: translate(-50%,-50%);
                  cursor: pointer;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  background-color: $green-color;
                }
              }
            }

            &.active{
              text-shadow: 0.7px 0px white;
              a{
                text-shadow: 0.7px 0px white;
              }
            }
            &:hover,&:focus{
              text-shadow: 0.7px 0px white;
            }
            a:active{
              text-shadow: 0.7px 0px white;
            }
          }
        }
      }
    }

    div.mid{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 36px 80px 18px 80px;
    }

    div.lower{
      padding: 0 0px;

      nav{
        ul{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;


          li{
            list-style: none;
            padding: 6px 30px;
            color: $white-color;
            font-family: $font-family-1;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 60px;
           
            @media only screen and (max-width: 1320px) {
              padding: 6px 24px;
           }
            @media only screen and (max-width: 1220px) {
              padding: 6px 18px;
            }
            
            a{
              transition: all .1s linear;
              text-decoration: none;
              color: $white-color;
              font-family: $font-family-1;
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              height: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              
            }
            a:hover,a:focus{
              // font-weight: 500;
              text-shadow: 0.7px 0px white;
            }
            
            &.youtube, &.instagram{
              padding: 6px 8px;
            }
          
          }
        }
      }

    }
    

}

/* HEADER FOR SMALL SCREENS */
header.small-screen {
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $green-color;
  color: $white-color;

  // display: flex;
  width: 100vw;
  height: 80px;
  z-index: 9999;
  padding: 20px 48px;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  @media only screen and (max-width: 420px) {
    padding: 20px 24px;
  }

  &>img{
    @media only screen and (max-width: 620px) {
      width: 150px;
      height: auto;
    }
    @media only screen and (max-width: 520px) {
      width: 140px;
      height: auto;
    }
    @media only screen and (max-width: 420px) {
      width: 130px;
      height: auto;
    }
  }

  .menu-btn{
    z-index: 99999;
    width: 30px;
    

    button{
      width: 30px;
      border: none;
      outline: none;
      background-color: transparent;
      color: $white-color;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      
      .menu-icon{
        width: 30px;
        height: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      
        div{
          width: 30px;
          height: 2px;
          background-color: $white-color;
          transition: all .5s ease;

          
          &.opened{
            transform: translate(0px, 4px) rotate(45deg);

            &.two{
              opacity: 0;
            }
            &.three{
              transform: translate(0px, -10px) rotate(-45deg);
            }
          }
        }
        &.opened{
          div{
            transform: translate(0px, 4px) rotate(45deg);
            &.two{
              opacity: 0;
            }

            &.three{
              transform: translate(0px, -10px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  nav.menu-nav{
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $green-color;
    transition: all .6s cubic-bezier(0.77,-0.01, 0.59, 0.87);
    padding: 96px 48px 36px 48px;
    
    @media only screen and (max-width: 420px) {
      padding: 96px 36px 36px 36px;
    }
    @media only screen and (max-width: 420px) {
      padding: 96px 24px 24px 24px;
    }

    &>div{
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background: rgba($white-color,0);
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 12px;
        background: rgba($white-color,0.2);
      }
      ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 36px;
        
        @media only screen and (max-width: 420px) {
          padding-right: 24px;
        }
        &:nth-child(1){          
          margin-bottom: 12px;
        }
        
        li{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;         
            padding: 18px 0px 18px 0px;
            color: $white-color;
            font-family: $font-family-1;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            height: auto;
            transition: all .1s linear;

            @media only screen and (max-width: 465px) {
              font-size: 16px;
              line-height: 22px;
            }

            @media only screen and (max-width: 420px) {
              font-size: 14px;
              line-height: 20px;
            }
            
            a{
              text-decoration: none;
              color: $white-color;
              font-family: $font-family-1;
              font-size: 18px;
              line-height: 24px;
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              height: 100%;
              transition: all .1s linear;

              @media only screen and (max-width: 465px) {
                font-size: 16px;
                line-height: 22px;
              }
              @media only screen and (max-width: 420px) {
                font-size: 14px;
                line-height: 20px;
              }
              &:hover,&:focus{
                text-shadow: 0.7px 0px white;
              }
             

              &.youtube{
                margin-right: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
              }
              &.instagram{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
              }
            }
            &.active{
              text-shadow: 0.7px 0px white;
              a{
                text-shadow: 0.7px 0px white;
              }
            }
            &:hover,&:focus{
              text-shadow: 0.7px 0px white;
            }
            a:active{
              text-shadow: 0.7px 0px white;
            }
            
            &.weather{
              cursor: pointer;
              span{
                margin-left: 12px;
                margin-right: 0px;
              }
            }
            &.languages{
              cursor: pointer;
              border-bottom: 1px solid rgba($white-color,0.5);
              span{
                margin-left: 12px;
                margin-right: 0px;
              }
            }
            
            &.search{
              form{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                
                input{
                  height: 100%;
                  background-color: $green-color;
                  border: none;
                  outline: none;
                  color: $white-color;
                  text-transform: uppercase;
                  letter-spacing: 0.5px;
                  font-family: $font-family-1;
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 300;
                  width: 100%;

                  @media only screen and (max-width: 465px) {
                    font-size: 16px;
                    line-height: 22px;
                  }
                    @media only screen and (max-width: 420px) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                        
                  &::placeholder{
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: $white-color;
                    font-family: $font-family-1;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 300;

                    @media only screen and (max-width: 465px) {
                      font-size: 16px;
                      line-height: 22px;
                    }
                      @media only screen and (max-width: 420px) {
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }

                  &::-webkit-search-cancel-button{
                    display: none;
                  }
                }

                button{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 50%;
                  right: -6px;
                  transform: translate(-50%,-50%);
                  cursor: pointer;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  background-color: $green-color;
                }
              }
            }
            
          }
  
        
      }
    }
    
  }
}



/* MEDIA QUERIES STARTS */
/* 1160px */
@media only screen and (max-width: 1160px) {
    header.big-screen {
        display: none;
      }
    header.small-screen {
       display: flex;
     }
 }
// /* 1161px */
@media only screen and (min-width: 1161px) {
    header.big-screen {
        display: block;
      }
    header.small-screen {
       display: none;
     }
 }
 /* MEDIA QUERIES ENDS */