main{
 
    section#infos-for-farmers{
    width: 100%;
    height: auto; 
    padding: 48px;
    background-color: $green-color;
    position: relative;
    z-index: 1;
  
    img.decoration{
        position: absolute;
        transform: translate(0%, -50%);
        // top: 154px;
        // right: -33px;
        top: 142px;
        right: 0px;
        z-index: -1;

        @media only screen and (max-width: 1100px) {
            top: 138px;
            width: 330px;
        }
        @media only screen and (max-width: 600px) {
            top: 102px;
            width: 246px;
        }
    }
    div.heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    div.products-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 80px 48px 30px 48px;
        
        
        @media only screen and (max-width: 660px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:not(:last-child){
                margin-right: 120px;
                
                @media only screen and (max-width: 1200px) {
                    margin-right: 100px;
                }
                @media only screen and (max-width: 1100px) {
                    margin-right: 80px;
                }
                
                @media only screen and (max-width: 900px) {
                    margin-right: 60px;
                }
                @media only screen and (max-width: 800px) {
                    margin-right: 40px;
                }
                @media only screen and (max-width: 660px) {
                    margin-right: 0px;
                    margin-bottom: 80px;
                }
        
            }

            div.img-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 24px;
                // img{
                // }
            }

            a{
                text-decoration: none;
                text-align: center;
                width: auto;               
                height: 60px;
                background-color: transparent;
                padding: 8px 36px;
                border-radius: 60px;
                cursor: pointer;
                outline: none;
                transition: all .3s ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(93, 162, 58, 1);        
                color: $green-color;
                
                
                @media only screen and (max-width: 1100px) {
                    padding: 8px 24px;
                }
                @media only screen and (max-width: 900px) {
                    height: 50px;
                }

                @media only screen and (max-width: 660px) {
                    height: 60px;
                    width: 220px;
                }
                p{
                    text-align: center;
                    color: $white-color;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    text-transform: unset;
                    text-align: center;
                    transition: all .3s ease;
                    width: 97%;
                    line-height: 24px;
                    
                    @media only screen and (max-width: 1100px) {
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 2px;
                    }
                    @media only screen and (max-width: 900px) {
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 1px;
                    }
                    @media only screen and (max-width: 660px) {
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 3px;
                    }
                }

                &:hover,&:focus{
                    background-color: $white-color;
                   
                    p{
                        color: $green-color;
                    }
                }
            }

            &:nth-child(2){
                a{
                    padding: 8px 24px;
                    @media only screen and (max-width: 1100px) {
                        padding: 8px 16px;
                        width: 200px;
                    }
                    @media only screen and (max-width: 900px) {
                        padding: 8px 8px;
                        width: 160px;
                    }
                    @media only screen and (max-width: 660px) {
                        width: 220px;
                    }
                    
                    p{
                        @media only screen and (max-width: 1100px) {
                            width: 84%;
                        }
                    }
                }
            }
            &:nth-child(3){
                a{
                    padding: 8px 4px;
                    width: 200px;
                    
                    @media only screen and (max-width: 1100px) {
                        width: 180px;
                    }
                    @media only screen and (max-width: 900px) {
                        width: 160px;
                    }
                    @media only screen and (max-width: 660px) {
                        width: 220px;
                    }
                    p{
                        width:76%;
                    }
                }
            }
        }
    }
    // border: $border-check-2;

    // @media only screen and (max-width: 760px) {
    //     margin: 0px 0px 190px 0px;
    // }
 
   
    }
}