main{
 
    section#last-news{
    width: 100%;
    height: auto; 
    padding: 48px;

    position: relative;
    z-index: 1;

    img.decoration{
        position: absolute;
        transform: translate(0%, -50%);
        top: 220px;
        right: -37px;
        z-index: -1;
    }
  
    div.heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.indicators-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
        // svg#left-arrow{
        //     margin-right: 24px;
        //     cursor: pointer;
        // }
        // svg#right-arrow{
        //     margin-left: 24px;
        //     cursor: pointer;
        // }
        div#left-arrow{
            margin-right: 24px;
            cursor: pointer;
        }
        div#right-arrow{
            margin-left: 24px;
            cursor: pointer;
        }

        div.indicators{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span{
                width: 24px;
                height: 3px;
                border-radius: 5px;
                background-color: #0c3f97;
                cursor: pointer;

                &.active{
                    background-color: #b1b1b1;
                }

                &:not(:last-child){
                    margin-right: 18px;
                }
            }
        }
    }

    div.news-container.owl-carousel.owl-theme {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 48px 0px 48px;
        
        @media only screen and (max-width: 600px) {
            padding: 0px 0px 0px 0px;
        }

        .owl-stage{
            margin: 48px 0;
        }

        article{
            background-color: transparent;
            padding: 10px;
            transition: all .3s ease;

            // @media only screen and (max-width: 1260px) {
            //     width: 50%;
            // }
            
            &:hover,&:focus{
                background-color: $white-color;
                padding: 10px;
                box-shadow: 0 4px 42px 2px rgba($dark-color, 0.15);
            }

            &:not(:last-child){
                margin-right: 48px;
                
                @media only screen and (max-width: 1300px) {
                    margin-right: 36px;
                }
                @media only screen and (max-width: 1260px) {
                    margin-right: 48px;
                }
            }

            div.img-container{
                width: 100%;
                margin-bottom: 24px;
                position: relative;
                
                img{
                    width: 100%;
                    height: auto;

                }

                div.overlay{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    height: 82%;
                    border-radius: 100px;
                    border: 1px solid $white-color;
                    background-color: rgba($white-color, 0.1);
                    // display: none;
                    opacity: 0;
                    transition: all .3s ease;
                }
                
                img.zoom-in-icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 32px;
                    height: 32px;
                    display: none;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &:hover,&:focus{
                    div.overlay{
                        // display: block;
                        opacity: 1;
                    }
                    img.zoom-in-icon{
                        display: block;
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            div.content-container{
                margin-bottom: 8px;

                a{
                    text-decoration: none;
                    color: $blue-color;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    
                    &:hover,&:focus{
                        text-decoration: underline;
                        
                    }

                    p{
                        color: $blue-color;
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 400;
                    }
                }
                p.date{
                    color: $gray-color;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 300;
                    margin-top: 6px;
                    margin-bottom: 10px;
                }
                

                p{
                    color: $dark-color;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
                
            }
            
        }

        div.owl-nav{
            margin-top: 0;
            position: absolute;
            top: 16px;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 210px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            @media only screen and (max-width: 1219px) {
                width: 260px;
            }
            @media only screen and (max-width: 979px) {
                top: 15px;
                width: 350px;
            }
            @media only screen and (max-width: 719px) {
                // top: 15px;
                width: 396px;
            }
            @media only screen and (max-width: 479px) {
                // top: 15px;
                width: 300px;
            }

            &[class*=owl-]:hover {
                background: transparent;
                color: #b1b1b1;
            }

            button{
                border: none;
                background-color: transparent;
                outline: none;
                opacity: 1;

                path{
                    fill: $blue-color;
                    
                }
                &.disabled{
                    background-color: transparent;
                    opacity: 1;
                    path{
                        fill: #b1b1b1;

                    }
                }
            }
        }

      
        div.owl-dots{
            position: absolute;
            top: 17px;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 104px;
            height: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            @media only screen and (max-width: 1219px) {
                width: 150px;
            }
            
            @media only screen and (max-width: 979px) {
                top: 16px;
                width: 240px;
            }
            @media only screen and (max-width: 719px) {
                top: 16px;
                width: 300px;
            }
            @media only screen and (max-width: 479px) {
                top: 16px;
                width: 210px;
            }

            button.owl-dot{
                    width: 24px;
                    height: 3px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: #0c3f97;
                    border: none;
                    outline: none;

                    span{
                        width: 100%;
                        height: 100%;
                        background-color: #0c3f97;
                    }
                    &.active{
                        background-color: #b1b1b1;
                        span{
                            background-color: #b1b1b1;

                        }
                    }
                    @media only screen and (max-width: 719px) {
                        width: 12px;
                    }       
                    @media only screen and (max-width: 479px) {
                        width: 8px;
                    }       
                                
            }
            

           
        }
    }
    div.btn-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
    }
    // border: $border-check-2;

    // @media only screen and (max-width: 760px) {
    //     margin: 0px 0px 190px 0px;
    // }
 
    
   
    }
}

