main{
 
    section#our-partners{
    width: 100%;
    height: auto; 
    padding: 64px;


    div.heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  

    div.partners-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 48px;

        div.left-arrow{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 48px;
        }
        div.partners{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            article{
                cursor: pointer;
                &:not(:last-child){
                    margin-right: 48px;
                }
            }
        }
        div.right-arrow{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 48px;
        }
    }


    // border: $border-check-2;

    // @media only screen and (max-width: 760px) {
    //     margin: 0px 0px 190px 0px;
    // }
   
    }
}