* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #363435;
  font-size: 24px;
}

.heading-primary {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 1.2px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.heading-primary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  width: 72px;
}

.heading-primary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -140px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  width: 72px;
}

.heading-primary.green {
  color: #487b2f;
}

.heading-primary.green::before {
  background-color: rgba(72, 123, 47, 0.8);
}

.heading-primary.green::after {
  background-color: rgba(72, 123, 47, 0.8);
}

.heading-primary.blue {
  color: #002c7a;
}

.heading-primary.blue::before {
  background-color: rgba(0, 44, 122, 0.8);
}

.heading-primary.blue::after {
  background-color: rgba(0, 44, 122, 0.8);
}

.heading-secondary {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: #7b7b7b;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #363435;
  line-height: 30px;
}

button.btn {
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
}

button.btn.green {
  border: 1px solid #487b2f;
  color: #487b2f;
}

button.btn.green:hover, button.btn.green:focus {
  background-color: #487b2f;
  color: #ffffff;
}

button.btn.blue {
  border: 1px solid #002c7a;
  color: #002c7a;
}

button.btn.blue:hover, button.btn.blue:focus {
  background-color: #002c7a;
  color: #ffffff;
}

/* HEADER FOR BIG SCREENS */
header.big-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #487b2f;
  color: #ffffff;
  width: 100vw;
  height: 220px;
  z-index: 9999;
  padding: 0px 0px;
}

header.big-screen div.upper {
  padding: 0 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header.big-screen div.upper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen div.upper nav ul li {
  list-style: none;
  padding: 12px 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

header.big-screen div.upper nav ul li span {
  margin-right: 12px;
}

header.big-screen div.upper nav ul li a {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: none;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen div.upper nav ul li.weather {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

header.big-screen div.upper nav ul li.weather span {
  margin-left: 12px;
  margin-right: 0px;
}

header.big-screen div.upper nav ul li.languages {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

header.big-screen div.upper nav ul li.languages span {
  margin-left: 12px;
  margin-right: 0px;
}

header.big-screen div.upper nav ul li.search {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header.big-screen div.upper nav ul li.search form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header.big-screen div.upper nav ul li.search form input {
  height: 100%;
  background-color: #487b2f;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 150px;
}

header.big-screen div.upper nav ul li.search form input::-webkit-input-placeholder {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header.big-screen div.upper nav ul li.search form input:-ms-input-placeholder {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header.big-screen div.upper nav ul li.search form input::-ms-input-placeholder {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header.big-screen div.upper nav ul li.search form input::placeholder {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header.big-screen div.upper nav ul li.search form input::-webkit-search-cancel-button {
  display: none;
}

header.big-screen div.upper nav ul li.search form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: -6px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #487b2f;
}

header.big-screen div.upper nav ul li.active {
  text-shadow: 0.7px 0px white;
}

header.big-screen div.upper nav ul li.active a {
  text-shadow: 0.7px 0px white;
}

header.big-screen div.upper nav ul li:hover, header.big-screen div.upper nav ul li:focus {
  text-shadow: 0.7px 0px white;
}

header.big-screen div.upper nav ul li a:hover, header.big-screen div.upper nav ul li a:focus {
  text-shadow: 0.7px 0px white;
}

header.big-screen div.mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 80px 18px 80px;
}

header.big-screen div.lower {
  padding: 0 0px;
}

header.big-screen div.lower nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen div.lower nav ul li {
  list-style: none;
  padding: 6px 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header.big-screen div.lower nav ul li a {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen div.lower nav ul li a:hover, header.big-screen div.lower nav ul li a:focus {
  text-shadow: 0.7px 0px white;
}

header.big-screen div.lower nav ul li.youtube, header.big-screen div.lower nav ul li.instagram {
  padding: 6px 8px;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 30px 100px;
  background-color: #002c7a;
  color: #ffffff;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
main {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  margin: 220px auto 0 auto;
}

main section#hero {
  width: 100%;
  height: calc(100vh - 220px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#hero article {
  position: relative;
  width: 100%;
  height: 100%;
}

main section#hero article div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main section#hero article div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section#hero article div.overlay-green {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 76%;
  height: 240px;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  background-color: rgba(72, 123, 47, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 48px 180px 48px 48px;
}

main section#hero article div.overlay-green div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 452px;
}

main section#hero article div.overlay-green div h1.first-line {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

main section#hero article div.overlay-green div h1.first-line::after {
  content: '';
  position: absolute;
  bottom: 21%;
  right: -86%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  width: 140px;
  background-color: rgba(255, 255, 255, 0.8);
}

main section#hero article div.overlay-green div h1.second-line {
  font-family: "Roboto", sans-serif;
  font-size: 62px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main section#hero article div.overlay-blue {
  position: absolute;
  bottom: 1.4%;
  right: -1%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 70%;
  height: 80px;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  background-color: rgba(0, 44, 122, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 140px 24px 90px;
}

main section#hero article div.overlay-blue p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  text-transform: unset;
  width: 100%;
}

main section#hero article div.overlay-blue div.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 12px;
}

main section#hero article div.overlay-blue div.dots span {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

main section#hero article div.overlay-blue div.dots span.active {
  background-color: #ffffff;
}

main section#articles {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 48px;
}

main section#articles div.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#articles div.articles-container {
  padding: 48px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.1fr 0.4fr;
      grid-template-columns: 0.5fr 0.1fr 0.4fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 64px;
    padding: 48px 160px;
  }
}

@media only screen and (max-width: 860px) {
  main section#articles div.articles-container {
    padding: 48px 100px;
  }
}

@media only screen and (max-width: 720px) {
  main section#articles div.articles-container {
    grid-gap: 64px;
    padding: 48px 60px;
  }
}

@media only screen and (max-width: 620px) {
  main section#articles div.articles-container {
    grid-gap: 64px;
    padding: 48px 24px;
  }
}

@media only screen and (max-width: 520px) {
  main section#articles div.articles-container {
    grid-gap: 64px;
    padding: 48px 0px;
  }
}

main section#articles div.articles-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section#articles div.articles-container article div.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  width: 55%;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article div.img-container {
    margin-right: 48px;
    width: 50%;
  }
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article div.img-container {
    width: 75%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article div.img-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article div.img-container {
    width: 100%;
  }
}

main section#articles div.articles-container article div.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section#articles div.articles-container article div.content-container {
  width: 45%;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article div.content-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article div.content-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article div.content-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article div.content-container {
    width: 100%;
  }
}

main section#articles div.articles-container article div.content-container a {
  text-decoration: none;
  color: #487b2f;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

main section#articles div.articles-container article div.content-container a:hover, main section#articles div.articles-container article div.content-container a:focus {
  text-decoration: underline;
}

main section#articles div.articles-container article div.content-container p.date {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

main section#articles div.articles-container article div.content-container div.paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#articles div.articles-container article div.content-container div.paragraphs p {
  color: #363435;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

main section#articles div.articles-container article div.content-container div.paragraphs p:not(:last-child) {
  margin-bottom: 24px;
}

main section#articles div.articles-container article:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
}

main section#articles div.articles-container article:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
}

main section#articles div.articles-container article:nth-child(2) div.img-container {
  width: 50%;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article:nth-child(2) div.img-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article:nth-child(2) div.img-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article:nth-child(2) div.img-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article:nth-child(2) div.img-container {
    width: 100%;
  }
}

main section#articles div.articles-container article:nth-child(2) div.content-container {
  width: 50%;
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article:nth-child(2) div.content-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article:nth-child(2) div.content-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article:nth-child(2) div.content-container {
    width: 100%;
  }
}

main section#articles div.articles-container article:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
}

main section#articles div.articles-container article:nth-child(3) div.img-container {
  width: 50%;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.articles-container article:nth-child(3) div.img-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article:nth-child(3) div.img-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article:nth-child(3) div.img-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article:nth-child(3) div.img-container {
    width: 100%;
  }
}

main section#articles div.articles-container article:nth-child(3) div.content-container {
  width: 50%;
}

@media only screen and (max-width: 1258px) {
  main section#articles div.articles-container article:nth-child(3) div.content-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1060px) {
  main section#articles div.articles-container article:nth-child(3) div.content-container {
    width: 95%;
  }
}

@media only screen and (max-width: 560px) {
  main section#articles div.articles-container article:nth-child(3) div.content-container {
    width: 100%;
  }
}

main section#articles div.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1373px) {
  main section#articles div.btn-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section#last-news {
  width: 100%;
  height: auto;
  padding: 48px;
}

main section#last-news div.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#last-news div.indicators-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

main section#last-news div.indicators-container svg#left-arrow {
  margin-right: 24px;
  cursor: pointer;
}

main section#last-news div.indicators-container svg#right-arrow {
  margin-left: 24px;
  cursor: pointer;
}

main section#last-news div.indicators-container div.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#last-news div.indicators-container div.indicators span {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background-color: #0c3f97;
  cursor: pointer;
}

main section#last-news div.indicators-container div.indicators span.active {
  background-color: #b1b1b1;
}

main section#last-news div.indicators-container div.indicators span:not(:last-child) {
  margin-right: 18px;
}

main section#last-news div.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 48px 48px 80px;
}

main section#last-news div.news-container article {
  background-color: #ffffff;
  padding: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#last-news div.news-container article:hover, main section#last-news div.news-container article:focus {
  -webkit-box-shadow: 0 0 40px 2px rgba(54, 52, 53, 0.24);
          box-shadow: 0 0 40px 2px rgba(54, 52, 53, 0.24);
}

main section#last-news div.news-container article:not(:last-child) {
  margin-right: 48px;
}

main section#last-news div.news-container article div.img-container {
  width: 100%;
  margin-bottom: 24px;
}

main section#last-news div.news-container article div.img-container img {
  width: 100%;
  height: auto;
}

main section#last-news div.news-container article div.content-container a {
  text-decoration: none;
  color: #002c7a;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

main section#last-news div.news-container article div.content-container a:hover, main section#last-news div.news-container article div.content-container a:focus {
  text-decoration: underline;
}

main section#last-news div.news-container article div.content-container a p {
  color: #002c7a;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

main section#last-news div.news-container article div.content-container p.date {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  margin-top: 6px;
  margin-bottom: 10px;
}

main section#last-news div.news-container article div.content-container p {
  color: #363435;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

main section#last-news div.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#products {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 48px;
}

main section#products div.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#trainings {
  width: 100%;
  height: 100vh;
}

main section#infos-for-farmers {
  width: 100%;
  height: 100vh;
}

main section#our-partners {
  width: 100%;
  height: 100vh;
}

main section#our-sales-points {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=home.css.map */