// COLORS
$green-color: #487b2f;
$blue-color:#002c7a;
$gray-color: #7b7b7b;
$dark-color: #363435;
$light-color: #dadada;
$white-color: #ffffff;


// FONTS
$heading-1-font-size: 80px;
$heading-2-font-size: 64px;

$paragraph-font-size-1: 24px;
$paragraph-font-size-2: 22px;
$paragraph-font-size-3: 20px;
$paragraph-font-size-4: 14px;

$font-family-1: 'Roboto', sans-serif;



// FOR DEBUGGING (TEMP. VARIABLES)
$border-check-1: 1px solid red;
$border-check-2: 1px solid orange;
$border-check-3: 1px solid blue;